@model Corral.Models.HomeModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.Title</title>
</head>
<body>
    <h1>@Model.Title</h1>
    <p>Welcome to the Texas Corral system!</p>
</body>
</html>
